<h4>Application Form</h4>
    <form action="/job/{{single_job.['id']}}/apply">
        <div class="mb-2">
            <label>Full Name</label><br>    
            <input type="text" name="full_name" placeholder="Bruce Wayne">
        </div>
        <div class="mb-2">
            <label>email</label><br> 
            <input type="text" name="email" placeholder="bruce@wayne.it">
        </div>
        <div class="mb-2">
            <label>LinkedIn</label><br> 
            <input type="text" name="LinkedIn" placeholder="https://linkdin.com/name">
        </div>
        <input type="submit" name="submit">
    </form>