<!DOCTYPE html>
<html>
    <head>
        <title>Application submitted</title>
        {% include 'bootstrap.html' %}
    </head>
    <body>
        {% include 'nav.html' %}
        {% include 'banner.html' %}
        <div class="container">
            <h1 class="text-center mb-2 mt-2">WebDEV</h1>
            <p>Application for <b>{{job['title']}}</b> is Submitted</p>
            <b>FullName</b>
            <div class="mb-2">{{application['full_name']}}</div>
            <b>Email</b>
            <div class="mb-2">{{application['email']}}</div>
            <b>Linkedin</b>
            <div class="mb-2">{{application['linkedin']}}</div>
            <b>Education</b>
            <div class="mb-2">{{application['education']}}</div>
            <b>Work Experience</b>
            <div class="mb-2">{{application['work_experience']}}</div>
            {% include 'footer.html' %}
        </div>
    </body>
</html>